<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <allowedServerVariables>
        <add name="HTTP_X_FORWARDED_PROTO" />
        <add name="HTTP_X_FORWARDED_HOST" />
        <add name="HTTP_X_FORWARDED_FOR" />
        <add name="HTTP_X_FORWARDED_USER" />
        <add name="HTTP_X_SSO_PROXY_SECRET" />
      </allowedServerVariables>

      <rules>
        <rule name="RedirectHttpToHttps" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="ReverseProxyToNode4000" stopProcessing="true">
          <match url="(.*)" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
            <set name="HTTP_X_FORWARDED_USER" value="{LOGON_USER}" />
            <set name="HTTP_X_SSO_PROXY_SECRET" value="CHANGE_ME_WITH_LONG_RANDOM_SECRET" />
          </serverVariables>
          <action type="Rewrite" url="http://127.0.0.1:4000/{R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>

    <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />
    <webSocket enabled="true" />

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
